/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * CityOfTheBigShoulders implementation : © Gabriel Gohier-Roy <ggohierroy@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * cityofthebigshoulders.css
 *
 * CityOfTheBigShoulders stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (cityofthebigshoulders_cityofthebigshoulders.tpl), and to HTML elements you create dynamically
    (in cityofthebigshoulders.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#main_board {
    background-image: url(img/board_small.png);
    width: 980px;
    height: 530px;
    position: relative;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 .board_item {
	/* width: 50px; */
	height: auto;
	display: inline-block;
	margin-bottom: 2px;
	white-space: nowrap;
	position: relative;
}

#share_track{
    position: relative;
}

.share_zone{
    width: 22px;
    height: 22px;
    left: 880px;
    position: absolute;
}

#appeal_track{
    position: relative;
}

.appeal_zone{
    width: 28px;
    height: 28px;
    left: 30px;
    position: absolute;
}

.company_money{
    top: 160px;
    left: 70px
}

 .panel-token {
    background-image: url( 'img/tokens.png' );
    display: inline-block;
    vertical-align: middle;
}

.moveable-token {
    background-image: url( 'img/tokens.png' );
    position: absolute;
}

.money {  
    background-position: 0px 0px; 
    width: 28px;
    height: 28px;
}

.meeple { 
    width: 15px;
    height: 15px;
    background-position-y: -105px; 
}
.meeple-ff0000 { background-position-x: -93px }
.meeple-0000ff { background-position-x: 0px; }
.meeple-008000 { background-position-x: -15px; }
.meeple-ffa500 { background-position-x: -108px }
.meeple-tan { background-position-x: -30px }
.meeple-black { background-position-x: -77px }

.stock {
    width: 109px;
    height: 73px;
    background-image: url('img/stocks_small.png');
}

.anglo {  background-position-y: 0px; }
.brunswick {  background-position-y: -73px; }
.cracker {  background-position-y: -146px; }
.doggett {  background-position-y: -219px; }
.elgin {  background-position-y: -292px; }
.fairbank {  background-position-y: -365px; }
.henderson {  background-position-y: -438px; }
.libby {  background-position-y: -511px; }
.spalding {  background-position-y: -584px; }
.swift {  background-position-y: -657px; }

.preferred { background-position-x: -109px; }
.common { background-position-x: -218px; }

.company_token {
    width: 20px;
    height: 20px;
    background-image: url('img/company_tokens_small.png');
}

.anglo_token {  background-position: 0px 0px; }
.brunswick_token {  background-position: 0px -20px; }
.cracker_token {  background-position: 0px -60px; }
.doggett_token {  background-position: -20px -80px; }
.elgin_token {  background-position: -20px 0px; }
.fairbank_token {  background-position: 0px -80px; }
.henderson_token {  background-position: -20px -20px; }
.libby_token {  background-position: 0px -40px; }
.spalding_token {  background-position: -20px -40px; }
.swift_token {  background-position: -20px -60px; }

.automation_holder {
    width: 13px;
    height: 22px;
    position: absolute;
    top: 88px;
}

.automation_token {
    background-image: url('img/tokens.png');
    background-position: -57px -29px;
    width: 13px;
    height: 22px;
}

.worker {
    background-image: url('img/tokens.png');
    background-position: -106px -22px;
    width: 12px;
    height: 27px;
}

.personal_share_area {
    margin: 5px 5px;
    padding: 5px 5px;
    display: inline-block;
    width: 350px;
}

.owned_companies_area {
    margin: 5px 5px;
    padding: 5px 5px;
    display: inline-block;
}

.building_track {
    left: 506px;
    height: 50px;
    width: 267px;
    position: absolute;
}

.building_to_play{
    border: 3px green solid;
}

.building_to_discard{
    border: 3px red solid;
}

#job_market{
    left: 353px;
    top: 188px;
    height: 177px;
    width: 58px;
    /* background-color: white;
    opacity: 50%; */
    position: absolute;
}

.worker_spot {
    z-index: 100;
}

.active {
    border: 1px red solid;
    cursor: pointer;
}

#job_market_worker{
    left: 353px;
    top: 136px;
    height: 233px;
    width: 58px;
    position: absolute;
}

#job_market_worker_holder{
    height: 233px;
    width: 58px;
    position: absolute;
}

.general-action {
    height: 49px;
    width: 49px;
    position: absolute;
}

#advertising {
    left: 420px;
    top: 136px;
}

#fundraising_40{
    left: 781px;
    top: 198px;
}

#fundraising_60{
    left: 780px;
    top: 259px;
}

#fundraising_80{
    left: 780px;
    top: 321px;
}

#hire_manager{
    left: 420px;
    top: 198px;
}

#hire_salesperson{
    left: 420px;
    top: 260px;
}

#capital_investment{
    left: 420px;
    top: 321px;
}

#extra_dividends{
    left: 781px;
    top: 136px;
}

.factory{
    top: 40px;
    position: absolute;
    height: 114px;
    z-index: 100;
}

.worker-holder{
    top: 32px;
    position: absolute;
    height: 27px;
    width: 12px;
    /* background-color: white;
    opacity: 50%; */
}

.manager-holder{
    top: 9px;
    left: 14px;
    width: 15px;
    height: 15px;
    position: absolute;
    /* background-color: white;
    opacity: 50%; */
}

.salesperson-holder{
    left: 31px;
    width: 15px;
    height: 15px;
    position: absolute;
}

.company-content{
    height: 229px;
    width: 350px;
}