/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * CityOfTheBigShoulders implementation : © Gabriel Gohier-Roy <ggohierroy@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * cityofthebigshoulders.css
 *
 * CityOfTheBigShoulders stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (cityofthebigshoulders_cityofthebigshoulders.tpl), and to HTML elements you create dynamically
    (in cityofthebigshoulders.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#main_board_wrapper {
    overflow: auto;
}

.player-area {
    overflow: auto;
}

.stock-content {
    color: white;
}

#main_board {
    background-image: url(img/board_small_final.png);
    background-size: 980px 530px;
    width: 980px;
    height: 530px;
    position: relative;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

.board_item {
    display: inline;
    margin: 2px;
}

.company_item {
    display: inline-block;
    margin: 2px;
    position: absolute;
}

#share_track{
    position: relative;
}

.share_zone{
    width: 22px;
    height: 22px;
    left: 880px;
    position: absolute;
}

#appeal_track{
    position: relative;
}

.appeal_zone{
    width: 28px;
    height: 28px;
    left: 30px;
    position: absolute;
}

.company_money{
    top: 160px;
    left: 70px
}

.company_appeal{
    top: 190px;
    left: 70px;
}

 .panel-token {
    background-image: url( 'img/tokens.png' );
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
}

.moveable-token {
    background-image: url( 'img/tokens.png' );
    position: absolute;
}

.money {  
    background-position: 0px 0px; 
    width: 28px;
    height: 28px;
}

.appeal {
    background-position: -203px -23px; 
    width: 28px;
    height: 28px;
}

.priority-marker {
    background-image: url( 'img/tokens.png' );
    position: relative;
    background-position: -125px -33px; 
    width: 28px;
    height: 18px;
}

.meeple { 
    width: 15px;
    height: 15px;
    background-position-y: -105px; 
}
.meeple-ff0000 { background-position-x: -93px }
.meeple-0000ff { background-position-x: 0px; }
.meeple-008000 { background-position-x: -15px; }
.meeple-ffa500 { background-position-x: -108px }
.meeple-tan { background-position-x: -30px }
.meeple-black { background-position-x: -77px }

.extra-goods-token {
    background-image: url( 'img/tokens.png' );
    position: absolute;
    background-position: -169px -23px;
    width: 26px;
    height: 26px;
}

.extra-goods {
    width: 92px;
    height: 30px;
    position: absolute;
    left: 255px;
    top: 198px;
}

#bag {
    top: 25px;
    left: 500px;
    position: absolute;
}

#player_order {
    width: 19px;
    height: 53px;
    position: absolute;
    left: 926px;
    top: 382px;
}

.appeal-bonus {
    position: absolute;
    width: 22px;
    height: 26px;
    left: 54px;
}

#appeal_1 { top: 115px; }
#appeal_2 { top: 171px; }
#appeal_3 { top: 226px; }
#appeal_4 { top: 281px; }
#appeal_5 { top: 336px; }
#appeal_6 { top: 391px; }
#appeal_7 { top: 446px; }
#appeal_8 { top: 474px; }

#capital_assets{
    left: 408px;
    top: 423px;
    height: 50px;
    width: 278px;
    position: absolute;
}

.exhausted {
    opacity: 50% !important;
}

.company-asset{
    left: 277px;
    top: 61px;
    height: 50px;
    width: 50px;
    position: absolute;
}

.stock {
    width: 109px;
    height: 73px;
    background-image: url('img/stocks_small.png');
}

.anglo {  background-position-y: 0px; }
.brunswick {  background-position-y: -73px; }
.cracker {  background-position-y: -146px; }
.doggett {  background-position-y: -219px; }
.elgin {  background-position-y: -292px; }
.fairbank {  background-position-y: -365px; }
.henderson {  background-position-y: -438px; }
.libby {  background-position-y: -511px; }
.spalding {  background-position-y: -584px; }
.swift {  background-position-y: -657px; }

.preferred { background-position-x: -109px; }
.common { background-position-x: -218px; }

.company_token {
    width: 20px;
    height: 20px;
    background-image: url('img/company_tokens_small.png');
}

.anglo_token {  background-position: 0px 0px; }
.brunswick_token {  background-position: 0px -20px; }
.cracker_token {  background-position: 0px -60px; }
.doggett_token {  background-position: -20px -80px; }
.elgin_token {  background-position: -20px 0px; }
.fairbank_token {  background-position: 0px -80px; }
.henderson_token {  background-position: -20px -20px; }
.libby_token {  background-position: 0px -40px; }
.spalding_token {  background-position: -20px -40px; }
.swift_token {  background-position: -20px -60px; }

.automation_holder {
    width: 13px;
    height: 22px;
    position: absolute;
    top: 88px;
}

.automation_token {
    background-image: url('img/tokens.png');
    background-position: -57px -29px;
    width: 13px;
    height: 22px;
    position: absolute;
}

.good_token {
    background-image: url('img/tokens.png');
    background-position: -2px -29px;
    width: 13px;
    height: 22px;
    position: absolute;
}

.company-resources {
    position: absolute;
    left: 130px;
    top: 160px;
    width: 103px;
    height: 68px;
}

.demand {
    width: 61px;
    height: 94.5px;
    position: absolute;
}

.demand-card{
    background-image: url('img/demand.png');
    width: 61px;
    height: 94.5px;
    position: absolute;
}

.demand1 { background-position: -0px -0px; }
.demand2 { background-position: -61px -0px; }
.demand3 { background-position: -122px -0px; }
.demand4 { background-position: -305px -0px; }
.demand5 { background-position: -244px -0px; }
.demand6 { background-position: -183px -0px; }
.demand7 { background-position: -0px -94.5px; }
.demand8 { background-position: -61px -94.5px; }
.demand9 { background-position: -122px -94.5px; }
.demand10 { background-position: -183px -94.5px; }
.demand11 { background-position: -244px -94.5px; }
.demand12 { background-position: -305px -94.5px; }
.demand13 { background-position: -0px -189px; }
.demand14 { background-position: -61px -189px; }
.demand15 { background-position: -122px -189px; }
.demand16 { background-position: -183px -189px; }
.demand17 { background-position: -244px -189px; }
.demand18 { background-position: -305px -189px; }
.demand19 { background-position: -0px -283.5px; }
.demand20 { background-position: -61px -283.5px; }
.demand21 { background-position: -122px -283.5px; }
.demand22 { background-position: -183px -283.5px; }
.demand23 { background-position: -244px -283.5px; }
.demand24 { background-position: -305px -283.5px; }

#dry_goods_50{
    left: 242px;
    top: 177px;
}
#dry_goods_20{
    left:167px;
    top: 177px;
}
#dry_goods_0{
    left: 93px;
    top: 177px;
}
#meat_packing_50{
    left: 242px;
    top: 288px;
}
#meat_packing_20{
    left:167px;
    top: 288px;
}
#meat_packing_0{
    left: 93px;
    top: 288px;
}
#food_and_dairy_50{
    left: 242px;
    top: 65px;
}
#food_and_dairy_20{
    left:167px;
    top: 65px;
}
#food_and_dairy_0{
    top: 65px;
    left: 93px;
}
#shoes_50{
    top: 400px;
    left: 242px;
}
#shoes_20{
    top: 400px;
    left:167px;
}
#shoes_0{
    top: 400px;
    left: 93px;
}

.worker {
    background-image: url('img/tokens.png');
    background-position: -98px -29px;
    width: 13px;
    height: 22px;
    position: absolute;
}

.personal_share_area {
    margin: 5px 5px;
    padding: 5px 5px;
    display: inline-block;
    width: 25%;
}

.owned_companies_area {
    margin: 5px 5px;
    padding: 5px 5px;
    display: inline-block;
    width: 60%;
}

.building_track {
    left: 506px;
    height: 50px;
    width: 270px;
    position: absolute;
}

.building_to_play{
    border: 3px green solid;
}

.building_to_discard{
    border: 3px red solid;
}

#job_market{
    left: 353px;
    top: 192px;
    height: 177px;
    width: 58px;
    /* background-color: white;
    opacity: 50%; */
    position: absolute;
}

.livestock-item { background-position: -1100% 0%; }
.coal-item { background-position: -800% 0%; }
.steel-item { background-position: -300% 0%; }
.wood-item { background-position: -900% 0%; }
 
.resource {
    width: 14px;
    height: 14px;
    background-image: url("img/tokens.png");
    display: inline-block
}

.worker_spot {
    z-index: 100;
}

.active {
    border: 1px red solid !important;
    cursor: pointer !important;
}

#job_market_worker{
    left: 353px;
    top: 136px;
    height: 233px;
    width: 58px;
    position: absolute;
}

#job_market_worker_holder{
    height: 233px;
    width: 58px;
    position: absolute;
}

.general-action {
    height: 49px;
    width: 49px;
    position: absolute;
}

.building-action {
    height: 50px;
    width: 50px;
    position: absolute;
}

#advertising {
    left: 420px;
    top: 136px;
}

#fundraising_40{
    left: 781px;
    top: 198px;
}

#fundraising_60{
    left: 780px;
    top: 259px;
}

#fundraising_80{
    left: 780px;
    top: 321px;
}

#hire_manager{
    left: 420px;
    top: 198px;
}

#hire_salesperson{
    left: 420px;
    top: 260px;
}

#capital_investment{
    left: 420px;
    top: 321px;
}

#extra_dividends{
    left: 781px;
    top: 136px;
}

.factory{
    top: 40px;
    position: absolute;
    height: 114px;
    z-index: 100;
}

.worker-holder{
    top: 36px;
    position: absolute;
    height: 22px;
    width: 13px;
    /* background-color: white;
    opacity: 50%; */
}

.manager-holder{
    top: 9px;
    left: 14px;
    width: 15px;
    height: 15px;
    position: absolute;
    /* background-color: white;
    opacity: 50%; */
}

.salesperson-holder{
    left: 31px;
    width: 15px;
    height: 15px;
    position: absolute;
}

.company-content{
    height: 229px;
    width: 350px;
}

#haymarket{
    width: 150px;
    height: 37px;
    top: 5px;
    left: 5px;
    position: absolute;
}

.stockitem.company {
    background-size: 2100px 458px;
}

.stockitem.tile {
    background-size: 250px 749px;
}

.tile-tooltip {
    background-image: url("img/buildings_large_final.png");
    height: 118px;
    width: 118px;
    margin-left: 20px;
    margin-right: 5px;
    float: left;
}

#haymarket_square{
    width: 159px;
    height: 73px;
    top: 49px;
    left: 352px;
    position: absolute;
}

#supply_x{
    left: 530px;
}

#supply_30{
    left: 609px;
}

#supply_20{
    left: 687px;
}

#supply_10{
    left: 765px;
}

.supply{
    width: 50px;
    height: 50px;
    top: 64px;
    position: absolute;
}

.goods-holder {
    position: absolute;
    left: 242px;
    top: 160px;
    width: 103px;
    height: 68px;
}

.black-marker {
    background-image: url(img/tokens.png);
    background-position: -150px -54px;
    height: 29px;
    width: 29px;
    position: absolute;
}

.round-spot {
    height: 29px;
    width: 29px;
    left: 924px;
    position: absolute;
}

.phase-spot {
    height: 29px;
    width: 29px;
    left: 921px;
    position: absolute;
}

#round_1 { top: 25px; }
#round_2 { top: 59px; }
#round_3 { top: 92px; }
#round_4 { top: 125px; }
#round_5 { top: 158px; }
#phase_1 { top: 278px; }
#phase_2 { top: 316px; }
#phase_3 { top: 351px; }
#phase_4 { top: 441px; }
#phase_5 { top: 475px; }